<!DOCTYPE html>

<html>
  <head>
    <title>Game Of Life</title>
    <link rel="stylesheet" href="static/styles/styles.css" />
  </head>
  <body>
    <div>
      <canvas id="game"></canvas>
    </div>
    <div class="flex-container button-container">
      <button id="play-button">Start/Stop</button>
      <button id="reset-button">Reset</button>
    </div>
    <script type="module" src="static/scripts/game.js"></script>
    <script type="module" src="static/scripts/canvas.js"></script>
  </body>
</html>
