<!DOCTYPE html>

<html>
  <head>
    <title>Game Of Life</title>
    <link rel="stylesheet" href="static/styles/styles.css?v={{ version }}" />
  </head>
  <body>
    <div>
      <canvas id="game"></canvas>
    </div>
    <div class="flex-container interface">
      <span id="generation-text">Generation: 1</span>
      <div class="flex-container">
        <div id="hexagons-size">
          <span>Size: </span>
          <input type="range" />
        </div>
        <div id="game-speed">
          <span>Speed: </span>
          <input type="range" />
        </div>
        <button id="change-rules">Change Rules</button>
      </div>
      <div class="flex-container">
        <button id="play-button">Start/Stop</button>
        <button id="random-button">Random</button>
        <button id="clear-button">Clear</button>
      </div>
    </div>
    <div class="rules-container">
      <h1>Rules</h1>
      <div id="alive-conditions">
        <h2>To stay alive:</h2>
        <div class="values-range">
          <div class="input-container min-input-container">
            <span>Min:</span>
            <input type="number" id="min-alive" />
          </div>
          <div class="input-container">
            <span>Max:</span>
            <input type="number" id="max-alive" />
          </div>
        </div>
      </div>
      <div id="birth-conditions">
        <h2>To be born:</h2>
        <div class="values-range">
          <div class="input-container min-input-container">
            <span>Min:</span>
            <input type="number" id="min-birth" />
          </div>
          <div class="input-container">
            <span>Max:</span>
            <input type="number" id="max-birth" />
          </div>
        </div>
      </div>
      <div class="close-button-container">
        <button id="close-button">Close</button>
      </div>
    </div>
    <script type="module" src="static/scripts/game.js?v={{ version }}"></script>
    <script
      type="module"
      src="static/classes/canvas.js?v={{ version }}"
    ></script>
    <script type="module" src="static/classes/grid.js?v={{ version }}"></script>
    <script type="module" src="static/classes/hex.js?v={{ version }}"></script>
    <script
      type="module"
      src="static/classes/layout.js?v={{ version }}"
    ></script>
    <script
      type="module"
      src="static/classes/permutation.js?v={{ version }}"
    ></script>
    <script
      type="module"
      src="static/classes/point.js?v={{ version }}"
    ></script>
  </body>
</html>
