html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-button,
#reset-button {
  width: 200px;
  height: 50px;
}

#play-button {
  margin-right: 50px;
}
