html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.interface {
  margin-left: 2em;
  margin-right: 2em;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
}

#play-button,
#random-button,
#clear-button {
  width: 200px;
  height: 50px;
  flex-shrink: 1;
}

#play-button,
#random-button {
  margin-right: 30px;
}

#generation-text {
  padding: 10px;
  margin-right: 30px;
  font-size: 1.5em;
  border: 1px solid white;
  color: white;
  flex-shrink: 0;
}
